/* ------------------ */
/* == Variables       */
/* ------------------ */

/* Legacy IE support */
$legacy-support-for-ie6  : false;
$legacy-support-for-ie7  : false;
$legacy-support-for-ie8  : true;

/* Colors */
$black           : #000000;
$white           : #ffffff;
$gray            : #666666;
$darkGray        : #333333;
$lightGray       : #adadad;
$gray            : #333333;
$darkBlue        : #2a4577;
$blue            : #6a7da1;
$purple          : #a6b1c6;
$beige           : #f6f6f6;
$gold            : #d3d1cc;

/* Fonts */
$fontSizebase       : 62.5%;
$fontSizeGlobal     : 12px;